body{
    font-family: 'Stoke';
}
/********** CABEÇALHO **********/
header{
    background-color: cornflowerblue; display: flex; width: 100%; height: 15%; top: 0; position: relative;
}

header p{
    font-size: 2rem; font-weight: bold; padding-left: 50px; display:flex;
}
/********** LINKS **********/
.links{
    display: flex;  width: 30%;; justify-content: center; box-sizing: border-box; flex-direction: row; margin-left: 45%;
}
.link{
    margin: 5px; padding: 0 10px; text-align: center; font-size: 20px; height: 100px;
}
.icon{
    width: 50px; height: 50px; margin-top: 50%;
}
/********** APRESENTAÇÃO **********/
.apre{
    display: flex; float: right; width:75%; margin: 75px 50px 0px 0px; box-sizing: border-box; 
}
.photo{
    margin: 50px 0px 0px 50px; width: 15%; float: left; height: 200px;  display:flex;
}
/********** LISTAS **********/
.item{
    margin: 5px; padding: 0 10px; text-align: center; font-size: 20px; height: 100px; background-color: gray;
}
.listas{
    width: 100%;  height: 200px; display: flex; box-sizing: border-box; flex-wrap: wrap;
}
.titles{
    width: 45%; height: 20%; display:flex; box-sizing: border-box;
}
.hobbies{ 
    display:flex; flex-direction: row; justify-content: flex-end; width: 45%; height: 65%; box-sizing: border-box; margin-left: 60px;
}
.braw{
    display: flex; flex-direction: row-reverse; justify-content: flex-start; width: 45%; height: 65%; box-sizing: border-box; margin-right: 55px;
}
.dir{
    justify-content: flex-end; margin-right: 120px;
}
/********** RODAPÉ **********/
footer{
    background-color: cornflowerblue; display: flex; width: 100%; bottom: 0; position: fixed; height: 15%;
}
.button{
    width: 15%; height: 25px; margin-top: 3%; float: right; margin-left: 60%;
}
